<footer>
    <p>
      <a href={`/`} class="footer-link"> &gt; © 2025 PTS V. IRL </a>
    </p>
  </footer>

  <style is:global>
    footer{
        display: flex; /* Use flexbox for centering */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically, if necessary */
        width: 100%; /* Ensure footer takes full width */
        padding: 20px; /* Add some padding */
        box-sizing: border-box; /* Include padding in width */
    }
    .footer-link {
        color: #789922; /* Set the link color to #789922 */
        text-decoration: none; /* Optional: remove underline */
    }

    .footer-link:visited {
        color: #789922; /* Prevent purple color for visited links */
    }
  </style>
