<h style="margin: 20px; margin-top:200px; font-size: 50px"> <b> Who are we? </b> </h>
		<div id="Container1" class="containerStyle1">
			<div class="boxWrapper">
				<p> Founded in 2024 on a Chinese horse husbandry forum, we are a merrily band of anons speading the words of mares around the globe.</p>
				<p> Our mission: To spread joy and post ponies! </p>
			</div>
		</div>