---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from '../components/footer.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="We acted like retards in front of 200 people, I guess we're horse famous now." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.webp" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Teko:wght@300..700&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Oswald:wght@200..700&family=Teko:wght@300..700&display=swap">
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html, body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0;
		-ms-overflow-style: 0;
		scrollbar-width: none;
	}

	body {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		overflow: hidden;
	}

	body::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	html.Yotsuba-B {
		background: #eef2ff url('/fade-blue.png') top center repeat-x;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
